%main
.wrapper
  .header
    .header-left
      MY PORTFOLIO
    .header-right
      %ul.header-right__flex
        %li about
        %li skill
        %li SNS
    
%secondary
  .about
%tertiary
  .skill
%quaternary
  .sns

  