body{
  color: #202020;
  .wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url("image3.jpg");
    @include background_size();
    background-color: #eee;
    position: relative;
    .top-image{
      background-image: url("image7.jpg");
      @include image_icon(200px,200px,12%,10%);
      @include animation(slideInRight,1s,1);
      @include pro{
        @include image_icon(250px,250px,12%,10%);
      }
      @include PC{
        @include image_icon(200px,200px,12%,10%);
      }
      @include phone{
        @include image_icon(100px,100px,35%,5%);
        box-shadow: 2px 2px 2px gray;
      }
      &:hover{
        transform: scale(1.1, 1.1);
      }
      .top-nav{
        @include nav(#404040);
        @include phone{
          top: 40%;
          left: 10%;
          font-size: 20px;
        }
      }
    }
    .second-image{
      background-image: url("54DD36F7-78E4-40C2-A0F5-336D12D5ADAC_1_105_c.jpeg");
      @include image_icon(200px,200px,42%,5%);
      @include animation(slideInRight,1.5s,1);
      @include pro{
        @include image_icon(250px,250px,37%,5%);
      }
      @include PC{
        @include image_icon(200px,200px,42%,5%);
      }
      @include phone{
        @include image_icon(100px,100px,50%,15%);
        box-shadow: 2px 2px 2px gray;
      }
      &:hover{
        transform: scale(1.1, 1.1);
      }
      .second-nav{
        @include nav(#ddd);
        @include phone{
          top: 40%;
          left: 10%;
          font-size: 20px;
        }
      }
    }
    .third-image{
      background-image: url("image1.jpg");
      @include image_icon(200px,200px,70%,10%);
      @include animation(slideInRight,2s,1);
      @include pro{
        @include image_icon(250px,250px,64%,10%);
      }
      @include PC{
        @include image_icon(200px,200px,72%,10%);
      }
      @include phone{
        @include image_icon(100px,100px,65%,25%);
        box-shadow: 2px 2px 2px gray;
      }
      &:hover{
        transform: scale(1.1, 1.1);
      }
      .third-nav{
        @include nav(#404040);
        @include phone{
          top: 40%;
          left: 10%;
          font-size: 20px;
        }
      }
    }
    .concept{
      position: absolute;
      top: 11%;
      left: 10%;
      font-size: 4.5rem;
      color: #fff;
      font-family: fantasy;
      font-weight: bold;
      text-align: left;
      text-shadow: 3px 3px 4px #202020;
      @include pro{
        font-size: 4.5rem;
      }
      @include PC{
        font-size: 3rem;
      }
      @include phone{
        top: 15%;
        left: 10%;
        font-size: 2rem;        
      }
    }
    .concept-message{
      display: none;
      position: absolute;
      top: 55%;
      left: 55%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: left;
      padding: 30px;
      font-size: 32px;
      color: #eee;
      text-shadow: 2px 2px 3px #606060;
      font-family: fantasy;
      @include pro{
        top: 50%;
        left: 40%;
        font-size: 2.0rem;
      }
      @include PC{
        top: 50%;
        left: 50%;
        font-size: 1.6rem;
      }
      @include tab{
        top: 50%;
        left: 39%;
        font-size: 1.5rem;
      }
      @include phone{
        padding: 10px;
        top: 45%;
        left: 35%;
        font-size: 0.8rem;
      }
    }
    .header{
      backdrop-filter: blur(8px);
      width: 100vw;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: fantasy;
      font-weight: bold;
      .header-left{
        width: 50%;
        font-size: 24px;
        padding: 10px 30px;
      }
      .header-right{
        width: 50%;
        &__flex{
          display: flex;
          justify-content: flex-end;
          font-size: 24px;
          padding: 10px 30px;
          @include pro{
            color: #404040;
            font-size: 30px;
          }
          @include PC{
            color: #404040;
            font-size: 24px;
          }
          @include tab{
            color: #404040;
            font-size: 24px;
          }
          @include phone{
            color: #404040;
            font-size: 18px;
            padding: 5px;
          }         
        }
        li{
          padding: 10px 20px;
          cursor: pointer;
          @include phone{
            padding: 10px;
          }         
        }
        .header-list{
          color: #ddd;
          @include pro{
            color: #404040;
            font-size: 30px;
          }
          @include PC{
            color: #404040;
          }
          @include phone{
            color: #404040;
            font-size: 18px;
          }     
        }
      }
    }
    .scroll-image__top{
      text-decoration: none;
      font-size: 20px;
      color: #202020;
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      animation: key1 .3s ease infinite alternate;
      @include PC{
        display: none;
      }
    }
  }
  .secondary,.tertiary,.quaternary,.contact{
    width: 100vw;
    background-color: #eee;
    position: relative;
    .secondary-content,.tertiary-content,.quaternary-content,.contact-content{
      text-align: center;
      font-size: 44px;
      padding: 30px 20px 10px!important;
      font-family: fantasy;
      font-weight: bold;
      text-shadow: 2px 2px 3px #303030
    }
    .about{
      width: 80%;
      margin: 20px auto 30px;
      display: flex;
      justify-content: space-between;
      @include PC{
        width: 100%;
        padding:0 30px 20px;
        margin: 0;
      }
      @include tab{
        display: block;
      }
      @include phone{
        width: 100%;
        padding: 5px 10px;
      }
      .about-js{
        width: 40%;
        @include tab{
          width: 100%;
        }
      }
      .about__introduction{
        width: 60%;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 2px 2px 3px gray;
        @include tab{
          width: 90%;
          margin: 0 auto;
        }
        @include phone{
          width: 100%;
          margin: 0 auto;
        }
        p{
          margin: 3px;
        }
        .marker-line{
          @include marker(3px,18px);
        }
      }
      &__image{
        width: 430px;
        height: 450px;
        box-shadow: 5px 5px 5px gray;
        opacity: 0;
        margin-right: 50px;
        transition: .7s;
        background-image: url("17371A1B-AD52-4407-BA4A-BA578646A3B6_1_105_c.jpeg");
        @include background_size();
        @include PC{
          width: 350px;
          opacity: 1;
        }
        @include tab{
          width: 300px;
          height: 300px;
          border-radius: 50%;
          margin: 0 auto;
          opacity: 1;
        }
      }
      &__image.showUp{
        opacity: 1;
      }
      &__contact{
        width: 40%;
        margin-top: 20px;
        padding: 20px;
        opacity: 0;
        transition: 1.5s;
        font-family: fantasy;
        @include PC{
          width: 350px;
          opacity: 1;
        }
        @include tab{
          display: flex;
          align-items: center;
          margin: 0 auto;
        }
        // @include tab{
        //   opacity: 1;
        // }
        h3{
          font-size: 28px;
          padding: 0 0 15px 15px;
          @include tab{
            padding: 0 10px;
          }
        }
        &--link{
          font-size: 18px;
          padding-bottom: 20px;
          @include tab{
            padding: 0 10px;
          }
          &:hover{
            opacity: 0.8;
          }
        }
        a{
          color: #202020;
          text-decoration: none;
          margin-left: 10px;
          @include tab{
            margin-left: 0;
          }
        }
      }
      &__contact.showLast{
        opacity: 1;
      }
    }
    .scroll{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 40px;
      @include PC{
        display: none;
      }
      .scroll-image--left{
        position: absolute;
        bottom: 100px;
        left: 30px;
        text-decoration: none;
        font-size: 20px;
        color: #202020;
        margin: 0 20px;
        width: 50px;
        height: 40px;
        animation: key1 .3s ease infinite alternate;
      }
      .scroll-image--right{
        position: absolute;
        bottom: 100px;
        right: 30px;
        text-decoration: none;
        font-size: 20px;
        color: #202020;
        margin: 0 20px;
        width: 50px;
        height: 40px;
        animation: key1 .3s ease infinite alternate;
      }
    }
      .scroll-image--bottom{
        font-size: 24px;
        font-weight: bold;
        font-family: fantasy;
        text-decoration: none;
        color: #202020;
        width: 80%;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
      }
    .skill{
      width: 80%;
      margin: 0 auto ;
      @include PC{
        width: 100%;
      }
      &__lists{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #fff;
        padding: 20px 20px 50px;
        margin: 30px 0 80px 0;
        @include PC{
          margin: 0 40px;
        }
        @include phone{
          display: block;
          margin: 0 10px;
        }
        // @include tab{
        //   opacity: 1;
        // }
      }
      &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 2px solid #ddd;
        font-size: 20px;
        width: 40%;
        margin: 5px;
        @include tab{
          padding: 20px 5px 5px;
        }
        @include phone{
          display: block;
          width: 100%;
        }     
        i{
          font-size: 30px;
          margin-right: 10px;
        }
        &--icon{
          display: flex;
          align-items: center;
        }
        &--star{
          padding-right: 30px;
          @include tab{
            padding-right: 0;
            text-align: right;
          }
        }
      }
      .list-right,.list-left{
        opacity: 0;
        @include PC{
          opacity: 1;
        }
      }
      .list-right.showRight{
        @include animation(slideInRight,1s,1);
      }
      .list-left.showLeft{
        @include animation(slideInLeft,1s,1);
      }
    }
    .collection{
      width: 80%;
      margin: 0 auto;
      @include PC{
        width: 100%;
      }
      &__list{
        width: 100%;
        padding-bottom: 30px;
        &--item{
          display: flex;
          padding: 20px;
          @include phone{
            display: block;
          }     
        }
        &--left{
          opacity: 0;
          @include PC{
            opacity: 1;
            margin-right: 40px;
          }
          @include tab{
            margin-right: 20px;
          }
        }
        &--right{
          opacity: 0;
          @include PC{
            opacity: 1;
            margin-left: 40px;
          }
          @include tab{
            margin-left: 20px;
          }
        }
        &--left.left_Cross{
          margin-right: 40px;
          @include animation(slideInLcross,1s,1);
        }
        &--right.right_Cross{
          margin-left: 40px;
          @include animation(slideInRcross,1s,1);
        }
        p{
          padding: 3px;
          @include PC{
            font-size: 14px;
          }
          @include tab{
            font-size: 12px;
          }
        }
        .marker-line{
          @include marker(0,18px);
          @include PC{
            @include marker(0, 14px)
          }
          @include tab{
            @include marker(0, 12px)
          }

        }
        &__image{
          background-image: url("7ee550f355e31fd6bf42929966e2fba3.jpg");
          @include background_size();
          box-shadow: 5px 5px 5px gray;
          height: 260px;
          
          &--app2{
            background-image: url("6d09a37b0efa536d46022e88ef1e77bf.jpg");
            @include background_size();
            box-shadow: 5px 5px 5px gray;
            height: 260px;
          }
        }
        a{
          width: 50%;
          text-decoration: none;
          color: #202020;
        }
        &__title{
          padding: 10px 5px;
          font-size: 20px;
        }
        .introduction-right--display{
          display: none;
          @include phone{
            display: block;
            width: 100%;
            margin-top: 20px;
          }
        }
        .introduction-right--phone{
          @include phone{
            display: none;
          }
        }
        .introduction-left,.introduction-right{
          opacity: 0;
          @include PC{
            opacity: 1;
          }
        }
        .introduction-left.rightup_Cross{
          @include animation(slideInRUcross,1.5s,1);
        }
        .introduction-right.leftdown_Cross{
          @include animation(slideInLDcross,1.5s,1);
        }
        &__introduction{
          width: 50%;
          background-color: #fff;
          box-shadow: 3px 3px 4px 4px gray;
          padding: 10px;
          border-radius: 5px;
          @include phone{
            width: 100%;
          }
          &--right{
            text-align: center;
            cursor: pointer;
            &:hover{
              opacity: 0.8;
            }
          }
          &--hide,&--hided{
            display: none;
          }
        }
      }
    }
    .form{
      width: 80%;
      margin: 0 auto;
      &__name,&__email,&__subject,&__text{
        text-align: center;
      }
      &__label{
        width: 450px;
        margin: 0 auto;
        padding: 15px 5px;
        font-size: 18px;
        @include phone{
          width: 300px;
        }
      }
      &__input{
        width: 450px;
        height: 50px;
        padding: 10px;
        border: none;
        @include phone{
          width: 300px;
          font-size: 14px;
        }
      }
      &__input--height{
        width: 450px;
        height: 150px;
        padding: 10px;
        border: none;
        @include phone{
          width: 300px;
          font-size: 14px;
        }
      }
      &__submit{
        width: 450px;
        margin: 0 auto;
        padding: 15px 15px 10px;
        text-align: right;
        @include phone{
          width: 300px;
        }
        &--size{
          height: 50px;
          width: 30%;
          border: none;
          cursor: pointer;
          @include phone{
            height: 40px;;
          }
        }
      }
    }
  }
}